<form method="POST">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Critérios</th>
                <th>Resposta</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Peso de Sementes</td>
                <td>
                    <input type="radio" id="peso_sementes_sim" name="peso_sementes" value="sim" {% if fiscalizacao.peso_sementes == 'sim' %}checked{% endif %}>
                    <label for="peso_sementes_sim">Sim</label>
                    <input type="radio" id="peso_sementes_nao" name="peso_sementes" value="nao" {% if fiscalizacao.peso_sementes == 'nao' %}checked{% endif %}>
                    <label for="peso_sementes_nao">Não</label>
                </td>
            </tr>
            <tr>
                <td>Adequação do mix de sementes ao método de restauração</td>
                <td>
                    <input type="radio" id="adequacao_mix_sementes_sim" name="adequacao_mix_sementes" value="sim" {% if fiscalizacao.adequacao_mix_sementes == 'sim' %}checked{% endif %}>
                    <label for="adequacao_mix_sementes_sim">Sim</label>
                    <input type="radio" id="adequacao_mix_sementes_nao" name="adequacao_mix_sementes" value="nao" {% if fiscalizacao.adequacao_mix_sementes == 'nao' %}checked{% endif %}>
                    <label for="adequacao_mix_sementes_nao">Não</label>
                </td>
            </tr>
            <tr>
                <td>Qualidade das sementes</td>
                <td>
                    <input type="radio" id="qualidade_sementes_sim" name="qualidade_sementes" value="sim" {% if fiscalizacao.qualidade_sementes == 'sim' %}checked{% endif %}>
                    <label for="qualidade_sementes_sim">Sim</label>
                    <input type="radio" id="qualidade_sementes_nao" name="qualidade_sementes" value="nao" {% if fiscalizacao.qualidade_sementes == 'nao' %}checked{% endif %}>
                    <label for="qualidade_sementes_nao">Não</label>
                </td>
            </tr>
            <!-- Repetir para os outros critérios -->
            <!-- E assim por diante para os outros critérios -->
        </tbody>
    </table>

    <button type="submit">Salvar</button>
</form>
